@model IEnumerable<WashZa.Models.WashLaundry>

@{
    ViewBag.Title = "Checkwashzz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Checkwashzz</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Last_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var t = item.flag_send == true ? "checked" : "0";
        var v = item.flag_payment == true ? 1 : 0;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
                @Html.CheckBoxFor(modelItem => item.flag_payment)
                @Html.CheckBoxFor(modelItem => item.flag_send)
            </td>
            <td>
                <div class="col-md-5 col-xs-5">
                    <div class="row"><input type="checkbox" id="chksend_@item.Id" value="@item.flag_send" @t /><label class="label" for="chksend_@item.Id">บริการจัดส่ง</label></div>
                    <div class="row"><input type="checkbox" id="chkpayment_@item.Id" value="@item.flag_payment" /><label class="label" for="chkpayment_@item.Id">จ่ายเงินเรียบร้อยแล้ว</label></div>
                </div>
                <div class="col-md-5 col-xs-5">
                    <input type="image" src="~/Content/Images/laundry_574955.png" width="80" id="@item.Id" value="@item.Active" onclick="document.getElementById('loadingImg').style.display = 'block';" />
                </div>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-md-3 col-xs-3">
            <input type="image" src="~/Content/Images/laundry_574955.png" width="80" id="@item.Id" value="@item.Active" onclick="document.getElementById('loadingImg').style.display = 'block';" />
        </div>



    }
</div>
<div class="modal" id="loadingImg" style="
  text-align: center;
  padding: 0!important;vertical-align: middle;background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.4);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img src="~/Content/Images/tenor.gif" style="visibility:visible" width="80" />
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var color = ["#1ebd0e", "#ffffff"];
    document.querySelectorAll("input").forEach((Image) => {
        Image.style.background = color[Image.value]
        Image.addEventListener("click",
            function () {
                document.getElementById('loadingImg').style.display = "block";
                var url = "http://localhost:49582/api/values/";
                var i = this.value;
                i = i < color.length - 1 ? ++i : 0;
                document.getElementById(this.id).style.background = color[i]
                var r = "" + this.value;
                while (r.length < 5) {
                    r = "0" + r;
                }
                var data = {};
                data.Id = this.id;
                if (i == 1) {
                    data.Active = 1;
                    this.value = 1;
                }
                else {
                    data.Active = 0;
                    this.value = 0;

                }
                var json = JSON.stringify(data);
                var xhttp = new XMLHttpRequest();
                xhttp.open("PUT", 'http://localhost:49582/api/values/' + this.id, false);
                xhttp.setRequestHeader('Content-type', 'application/json; charset=utf-8');

                xhttp.send(json);
                document.getElementById('loadingImg').style.display = "none";
                var response = JSON.parse(xhttp.responseText);

            });
    });
    document.querySelectorAll("input").forEach((Checkbox) => {
        Checkbox.addEventListener("click",
            function () {
                var url = "http://localhost:49582/api/washService/";
                var i = this.value;
                var r = "" + this.value;
                var data = {};
                data.Id = this.id;
                if (this.id.indexOf("chksend")>=0) {
                    data.flag_send = i==false?1:0;
                    data.flag_payment = ""
                    
                }
                else {
                    data.flag_payment = i == false ? 1 : 0;
                    data.flag_send = "";
                }
                var json = JSON.stringify(data);
                var xhttp = new XMLHttpRequest();
                xhttp.open("PUT", 'http://localhost:49582/api/washService/' + this.id, false);
                xhttp.setRequestHeader('Content-type', 'application/json; charset=utf-8');

                xhttp.send(json);
                document.getElementById('loadingImg').style.display = "none";
                var response = JSON.parse(xhttp.responseText);

            });
    });
    function SomeMethod() {
        // put your code here
        if (confirm("Press a button!")) {

            var data = {};

            data.id = "00002";

            data.Active = 0;

            var json = JSON.stringify(data);
            var xhttp = new XMLHttpRequest();
            xhttp.open("PUT", 'http://localhost:49582/api/values/2', false);
            xhttp.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            xhttp.send(json);
            var response = JSON.parse(xhttp.responseText);

        }
    }

</script>
