@model IEnumerable<WashZa.Models.WashLaundry>
@using Microsoft.AspNet.Identity
@{

    ViewBag.Title = "Checkwash";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Checkwash</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Last_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th></th>
        <th></th>
    </tr>
    @if (Request.IsAuthenticated)
    {
        string usrid = User.Identity.GetUserId();
        foreach (var item in Model.Where(s => s.userid.Equals(usrid)))
        {

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.First_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Last_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)

        </td>
        <td>
            <div class="col-md-5 col-xs-5">
                <div class="row"><input type="checkbox" id="chksend_@item.Id" value="@item.flag_send" /><label class="label-primary" for="chksend_@item.Id">  บริการจัดส่ง</label></div>
            </div>
            <div class="col-md-5 col-xs-5">
                <input type="image" src="~/Content/Images/laundry_574955.png" width="80" id="@item.Id" value="@item.Active" onclick="document.getElementById('loadingImg').style.display = 'block';" />
            </div>
        </td>
        <td>
            @if (item.flag_payment.Equals("1"))
            {
                @Html.ActionLink("พิมพ์ใบเสร็จ/ใบำกำกับภาษี", "Print_Invoicxe", new { id = item.Id })

            }

        </td>
    </tr>
        }
    }
</table>
<div class="row">
    @foreach (var item in Model.Where(s => s.userid.Equals(User.Identity.GetUserName())))
    {

        <div class="col-md-3 col-xs-3">
            <input type="image" src="~/Content/Images/laundry_574955.png" width="80" id="@item.Id" value="@item.Active" onclick="document.getElementById('loadingImg').style.display = 'block';" />
        </div>



    }
</div>
<div class="modal" id="loadingImg" style="
  text-align: center;
  padding: 0!important;vertical-align: middle;background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.4);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img src="~/Content/Images/tenor.gif" style="visibility:visible" width="80" />
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var color = ["#1ebd0e", "#ffffff"];
    document.querySelectorAll("input").forEach((Image) => {
        Image.style.background = color[Image.value]
    });
    document.querySelectorAll("input").forEach((Checkbox) => {
        Checkbox.addEventListener("click",
            function () {
                var url = "https://washzalaundry.azurewebsites.net/api/washService/";
                var i = this.value;
                var r = "" + this.value;
                var data = {};
                data.Id = this.id;
                if (this.id.indexOf("chksend") >= 0) {
                    data.flag_send = i == false ? 1 : 0;
                    data.flag_payment = ""

                }
                else {
                    data.flag_payment = i == false ? 1 : 0;
                    data.flag_send = "";
                }
                var json = JSON.stringify(data);
                var xhttp = new XMLHttpRequest();
                xhttp.open("PUT", 'https://washzalaundry.azurewebsites.net/api/washService/' + this.id, false);
                xhttp.setRequestHeader('Content-type', 'application/json; charset=utf-8');

                xhttp.send(json);
                document.getElementById('loadingImg').style.display = "none";
                var response = JSON.parse(xhttp.responseText);

            });
    });
    function SomeMethod() {
        // put your code here
        if (confirm("Press a button!")) {

            var data = {};

            data.id = "00002";

            data.Active = 0;

            var json = JSON.stringify(data);
            var xhttp = new XMLHttpRequest();
            xhttp.open("PUT", 'http://localhost:49582/api/values/2', false);
            xhttp.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            xhttp.send(json);
            var response = JSON.parse(xhttp.responseText);

        }
    }

</script>
